/* VIEW PIECES SECTION */
/* for O piece, move bottom row up to top, then row-reverse */
#piece-o div:last-child {
    flex-direction: row-reverse;
}

#piece-o .tet-group:last-child {
    order: -1;
}

#piece-o .tet-piece {
    background-color: #FEF94C;
}

/* for I piece, using order to change last 3 rows */
#piece-i div:nth-child(3) div:nth-child(3) {
    order: 2;
}
/* 3rd row */
#piece-i div:nth-child(3) div:first-child, #piece-i div:nth-child(3) div:nth-child(2), #piece-i div:nth-child(3) div:nth-child(4) {
    order: 1;
}

#piece-i div:nth-child(3) div:nth-child(5) {
    order: 3;
}
/* 4th row */
#piece-i div:nth-child(4) {
    flex-direction: row-reverse;
}
/* 5th row */
#piece-i div:nth-child(5) div:nth-child(2), #piece-i div:nth-child(5) div:nth-child(3), #piece-i div:nth-child(5) div:nth-child(4) {
    order: -1;
}

#piece-i .tet-piece {
    background-color: #51E2FC;
}

/* for S piece, order 1st row correctly, then change order of parent tet-group rows */
/* order 1st row correctly */
#piece-s div:first-child div:nth-child(2) {
    order: 1;
}

#piece-s div:first-child div:first-child {
    order: 2;
}

#piece-s div:first-child div:nth-child(4), #piece-s div:first-child div:nth-child(5) {
    order: 3;
}
/* change order of parent tet-group rows */
#piece-s .tet-group:first-child {
    order: 1;
}

#piece-s .tet-group:last-child {
    order: 2;
}

#piece-s .tet-piece {
    background-color: #EA3D1E;
}

/* for Z piece, row-reverse order of last row, then correct order of 1st row, then move before last row */
#piece-z div:last-child div:nth-child(3) {
    order: -1;
}

#piece-z .tet-group:last-child {
    order: -1;
}

#piece-z div:last-child {
    flex-direction: row-reverse;
}

#piece-z .tet-piece {
    background-color: #79AF3D;
}

/* for L piece, use row 3 with 2 blocks as bottom of the L, reorder blocks within their row, then reorder rows within the blocks */
#piece-l div:first-child div:last-child , #piece-l div:nth-child(4) div:nth-child(2) {
    order: -1;
}

#piece-l .tet-group:nth-child(3) {
    order: 99;
}

#piece-l .tet-group:first-child {
    order: 1;
}

#piece-l .tet-group:nth-child(4) {
    order: 2;
}

#piece-l .tet-piece {
    background-color: #F69230;
}

/* for J piece, use last row to stay as 2 blocks as bottom of the J, reorder the other blocks within their row, then reorder the rows within the blocks */
#piece-j div:first-child div:nth-child(4), #piece-j div:nth-child(2) div:nth-child(4) {
    order: -1;
}

#piece-j div:first-child div:nth-child(5), #piece-j div:nth-child(2) div:nth-child(5) {
    order: -2;
}

#piece-j .tet-group:nth-child(3), #piece-j .tet-group:nth-child(4) {
    order: -2;
}

#piece-j .tet-piece {
    background-color: #F16EB9;
}

/* for T piece, reorder top row block into place, then reorder top row to bottom of the rest of the T piece */
#piece-t div:first-child div:nth-child(4) {
    order: -1;
}

#piece-t .tet-group:nth-child(2) , #piece-t .tet-group:nth-child(3) {
    order: -1;
}

#piece-t .tet-piece {
    background-color: #953693;
}

/* ASIDE SECTION */
/* change font colors to match each color */
#tet-colors li:first-child {
    color: #EA3D1E;
    border: solid #EA3D1E 3px;
}

#tet-colors li:nth-child(2) {
    color: #F69230;
    border: solid #F69230 3px;
}

#tet-colors li:nth-child(3) {
    color: #FEF94C;
    border: solid #FEF94C 3px;
}

#tet-colors li:nth-child(4) {
    color: #79AF3D;
    border: solid #79AF3D 3px;
}

#tet-colors li:nth-child(5) {
    color: #51E2FC;
    border: solid #51E2FC 3px;
}

#tet-colors li:nth-child(6) {
    color: #953693;
    border: solid #953693 3px;
}

#tet-colors li:nth-child(7) {
    color: #F16EB9;
    border: solid #F16EB9 3px;
}

/* remove bullet points, add bold font weight, & set up flexbox for aside */
aside ul {
    list-style: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

#tet-colors {
    display: flex;
    justify-content: center;
}

aside > h2 {
    margin-bottom: 10px;
}


/* Task 3: Revert custom font styling */
p, h2:not(aside > h2) {
    font-family: sans-serif;
}

/* Optional Deeper Learning Debug */
.task-box p * {
    margin: 0px;
}